<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ecnu.plantyclock">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".service.MusicServer"
            android:enabled="true"
            android:exported="true"></service>

        <activity
            android:name=".util.leafloading.LeafLoadingActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".activities.SunActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".activities.RainActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".activities.SnowActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".activities.FogActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".activities.CloudActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.StyleActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" />
        <activity
            android:name=".Weather.weatheractivity"
            android:label="@string/app_name"></activity>
        <activity android:name=".Clock.activity.MainActivity"></activity>
        <activity
            android:name=".Clock.activity.AddAlarmActivity"
            android:label="@string/title_activity_add_alarm"></activity>
        <activity
            android:name=".Clock.activity.EditAlarmActivity"
            android:label="@string/title_activity_edit_alarm"></activity>
        <activity
            android:name=".Clock.activity.QuestionActivity"
            android:label="设置问题"></activity>

        <receiver android:name=".Clock.MyAlarmReceiver" />
        <receiver android:name=".Clock.SnoozeReceiver" />

        <activity
            android:name=".Clock.activity.PlayAlarmActivity"
            android:launchMode="singleTask" />

        <service android:name=".Clock.AlarmService" />

        <receiver android:name=".Clock.AlarmService$RebootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>